<!doctype html>
<html lang="ko">
<head>
    {{> web/head }}
</head>
<body>
    <section class="main">
        {{> web/header }}
        <div class="main-content">
            <section class="main-content-1">
                <h2>porfile</h2>
                <ul class="list">
                    <li>
                        <a href="https://totoevent.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-toto.JPG" alt="">
                                <figcaption>
                                    <span>스포츠토토(EVENT)</span>
                                    <p>youtube sns 공유,응원 한마디 이벤트 webpack,sass,html5,jquery를 이용해 작업</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://hub.dbroscreative.com" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-hub.jpg" alt="">
                                <figcaption>
                                    <span>GROUP IDD HUB</span>
                                    <p>사내 홈페이지 laravel mix,webpack,html5,jquery 를 이용해 작업</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ekdp.com/vita500/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-vita.jpg" alt="">
                                <figcaption>
                                    <span>비타500(고3이벤트)</span>
                                    <p>고3 응원 및 라벨지 투표하기 이벤트 사이트 canvas,webpack,html5,jquery 를 이용해 작업</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.skinnovation-idea.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-sk.jpg" alt="">
                                <figcaption>
                                    <span>sk이노베이션(팩트x임팩트 대잔치)</span>
                                    <p>사연 신청 및 sns 공유 이벤트 webpack,html5,jquery 를 이용해 작업</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.infiniti-premier.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-infiniti.jpg" alt="">
                                <figcaption>
                                    <span>인피니티 계열사 사이트</span>
                                    <p>9ea 인피니티 계열사 홈페이지 구축 php,jquery</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.hitejinro.com/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-hite.jpg" alt="">
                                <figcaption>
                                    <span>하이트진로</span>
                                    <p>하이트진로 홈페이지 html5,css3</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.dunkindonuts.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-dunkindonuts.jpg" alt="">
                                <figcaption>
                                    <span>던킨도너츠</span>
                                    <p>던킨도넛츠 홈페이지 html5,css3</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.baskinrobbins.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-baskinrobbins.jpg" alt="">
                                <figcaption>
                                    <span>베스킨라빈스</span>
                                    <p>베스킨라빈스 홈페이지 html5,css3</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://relaket.forbiz.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-relaket.jpg" alt="">
                                <figcaption>
                                    <span>릴라켓</span>
                                    <p>포비즈코리아 서비스 홈페이지 html5,css3</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://biz.canon-bs.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-canon.jpg" alt="">
                                <figcaption>
                                    <span>캐논비즈몰</span>
                                    <p>php 솔루션을 이용한 쇼핑몰</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.daisomall.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-daiso.JPG" alt="">
                                <figcaption>
                                    <span>다이소몰</span>
                                    <p>php 솔루션을 이용한 쇼핑몰</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.enter6.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-enter6.jpg" alt="">
                                <figcaption>
                                    <span>엔터식스 온라인</span>
                                    <p>php 솔루션을 이용한 쇼핑몰</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.daiso.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-daisohome.jpg" alt="">
                                <figcaption>
                                    <span>다이소홈페이지</span>
                                    <p>php 솔루션을 이용한 쇼핑몰</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.h1global.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-daisohome2.jpg" alt="">
                                <figcaption>
                                    <span>다이소계열사홈페이지</span>
                                    <p>php 솔루션을 이용한 쇼핑몰</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.orangeave.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-orangeave.jpg" alt="">
                                <figcaption>
                                    <span>오렌지에비뉴 쇼핑몰</span>
                                    <p>php 솔루션을 이용한 쇼핑몰</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.irionmall.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-irionmall.jpg" alt="">
                                <figcaption>
                                    <span>이리온 쇼핑몰</span>
                                    <p>php 솔루션을 이용한 쇼핑몰</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.forbiz.co.kr/" target="_blank">
                            <figure>
                                <img src="{{path}}/porfile/img-forbiz.jpg" alt="">
                                <figcaption>
                                    <span>포비즈코리아 홈페이지</span>
                                    <p>php 솔루션을 이용한 홈페이지</p>
                                </figcaption>
                            </figure>
                            <div class="overlay_box"></div>
                            <div class="arrow"></div>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="main-content-2">
                <h2>about</h2>
                <div class="contact-table">
					<table>
						<caption>contact us</caption>
						<colgroup>
							<col width="80px">
							<col width="*">
						</colgroup>
                        <tbody>
							<tr>
								<th scope="row">Name</th>
								<td>전정호(全正浩)</td>
							</tr>
							<tr>
								<th scope="row">Birth</th>
								<td>1989.11.03</td>
							</tr>
							<tr>
								<th scope="row">Certificate</th>
								<td>
								    <ul>
    							        <li>웹디자인기능사</li>
    							        <li>컴퓨터그래픽스운용기능사</li>
    							        <li>자동차운전면허</li>
								    </ul>
								</td>
							</tr>
							<tr>
								<th scope="row">Skill</th>
								<td>
								    <ul>
								        <li>HTML5</li>
                                        <li>CSS3</li>
                                        <li>sass</li>
                                        <li>javascript</li>
                                        <li>jquery</li>
                                        <li>webpack</li>
                                        <li>Photoshop</li>
                                        <li>Illustrator</li>
                                        <li>git</li>
								    </ul>
								</td>
							</tr>
							<tr>
								<th scope="row">Education</th>
								<td>
                                    <ul>
                                        <li>2008년 졸업 경기상업고등학교(웹디자인)</li>
                                        <li>2013년 07월 졸업 청강문화산업대학(컴퓨터그래픽스디자인)</li>
                                    </ul>
                                </td>
							</tr>
                            <tr>
								<th scope="row">Career</th>
								<td>
                                    <ul>
                                        <li class="through"><span>포비즈코리아(대리)</span> / 2013년 04월 ~ 2016년 03월</li>
                                        <li><span>Group IDD(대리)</span> / 2016년 04월 ~ 현재</li>
                                    </ul>
                                </td>
							</tr>
						</tbody>
					</table>
				</div>
                <div class="phone">
                    <figure>
                        <img src="{{path}}/id_photo.jpg" alt="">
                    </figure>
                </div>
            </section>
            <section class="main-content-3">
                <h2>contact</h2>
                <div class="contact-table">
					<table>
						<caption>contact us</caption>
						<colgroup>
							<col width="80px">
							<col width="*">
						</colgroup>
                        <tbody>
							<tr>
								<th scope="row">Address</th>
								<td>서울시 성북구 돈암동</td>
							</tr>
							<tr>
								<th scope="row">TEL</th>
								<td>+82 010-6236-9518</td>
							</tr>
							<tr>
								<th scope="row">KaKaoTalk</th>
								<td>dsjeon1103</td>
							</tr>
							<tr>
								<th scope="row">NateON</th>
								<td>djfk1103@hanmail.net</td>
							</tr>
							<tr>
								<th scope="row">E-mail</th>
								<td>wjswjdgh757@naver.com</td>
							</tr>
						</tbody>
					</table>
				</div>
                <div class="map">
                    
                </div>
            </section>
        </div>
        {{> web/footer }}
    </section>
</body>
{{> web/js }}
</html>
